name: master build

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            goarch: amd64
            bpf_target: amd64
          - platform: linux/arm64
            goarch: arm64
            bpf_target: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: '1.23.0'

      - name: Run apt-get update
        run: sudo apt-get update

      - name: Install BPF build dependencies
        run: |
          sudo apt-get -y install clang llvm libbpf-dev linux-headers-generic

      - name: Generate BPF code
        run: make generate-${{ matrix.bpf_target }}

      - name: Get short commit SHA
        id: sha
        run: echo "short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build binary
        env:
          CGO_ENABLED: 0
          GOOS: linux
          GOARCH: ${{ matrix.goarch }}
        run: |
          go build -trimpath \
            -ldflags "-s -w -X github.com/ethpandaops/observoor/internal/version.Release=master-${{ steps.sha.outputs.short }} -X github.com/ethpandaops/observoor/internal/version.GitCommit=${{ steps.sha.outputs.short }} -X github.com/ethpandaops/observoor/internal/version.GOOS=linux -X github.com/ethpandaops/observoor/internal/version.GOARCH=${{ matrix.goarch }}" \
            -o observoor \
            ./cmd/observoor

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to DockerHub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804 # v5.7.0
        with:
          images: ethpandaops/observoor
          tags: |
            type=raw,value=master-${{ matrix.goarch }}
            type=raw,value=master-${{ steps.sha.outputs.short }}-${{ matrix.goarch }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ./goreleaser-debian.Dockerfile
          platforms: ${{ matrix.platform }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  create-manifest:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get short commit SHA
        id: sha
        run: echo "short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create and push manifest for master
        run: |
          docker manifest create ethpandaops/observoor:master \
            ethpandaops/observoor:master-amd64 \
            ethpandaops/observoor:master-arm64
          docker manifest push ethpandaops/observoor:master

      - name: Create and push manifest for commit SHA
        run: |
          docker manifest create ethpandaops/observoor:master-${{ steps.sha.outputs.short }} \
            ethpandaops/observoor:master-${{ steps.sha.outputs.short }}-amd64 \
            ethpandaops/observoor:master-${{ steps.sha.outputs.short }}-arm64
          docker manifest push ethpandaops/observoor:master-${{ steps.sha.outputs.short }}
